<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  ErrorDocument 404 /Admin/View/Public/404.html
  ErrorDocument 403 /Admin/View/Public/404.html
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]
</IfModule>
