<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    <include file="./Manage/View/header.html" />
    <style type="text/css">body{
        color: black;}</style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="productionDiv">
                <div class="ibox-content" >
                    <h3 style="margin: 0 auto">内部管理系统</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="./Manage/View/footer.html" />
</body>
</html>
